@media only screen
and (min-width:220px)
and (max-width:568px)
{
  #header{
    width: 100%;
    min-height:100vh;
    background: url(../images/temp/kit22.png) 68% 0% rgba(219, 216, 213, 0.37);
    background-size: cover;
    background-attachment: fixed;

  }
  .camera{
    display: none;
  }
  #title{
    width: 70%;
    height: 20vh;
    min-height: 20vh;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5vh;
    font-size: 1em;
    line-height: 0.4em;
  }
  #title a{
    font-size: 2em;
    line-height: 1em;
  }

  .photostory{
    width: 70%;
    height: auto;
    min-height: auto;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5vh;
    font-size: 1em;
    line-height: 2em;
    overflow: auto;
  }
   header #scroll{
    clear: both;
    margin: auto;
    width: 50px;
    height: 45px;
  }
  header .scroll:hover{
    transform: scale(1.2);
  }
  #about{
    min-height: 100vh;
    background: rgba(88, 81, 78, 0.08);
  }
  #about .colreg{
    width: 100%;
  }
  #about .col{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    min-height: 20vh;
    height: 20vh;
    font-size: 1em;
  }
  #about .col h3{
    font-size: 1em;
  }
  #about h2{
    font-size: 1em;
  }
  #photostory{
    min-height: inherit;
    height: auto;
    background: rgba(88, 81, 78, 0.08);
  }
  #photostory #main{
    width:95%;
  }
  #photostory h2{
    font-size: 1em;
  }
  #photostory #id4{
    width: 48%;
    height: auto;
  }
  #photostory #scroll{
    display:none;
  }
  #footer{
    height: auto;
    min-height: inherit;
  }
  footer h2{
    font-size: 1em;
    text-align: center;
    width: 100%
  }
  footer .mainCol{
    display:none;
  }
    footer .number{
      width: 60%;
      margin-left: 10%;
      font-size: 1em;
      text-align: center;
    }
      footer .copyright{
        width: 85%;
        margin-left: -15%;
      }
      footer .copyright .logo{
        width: 200px;
        height: 113px;
        background: url(../images/logo.png);
        opacity: 1.0;
        background-size: cover;
      }
      footer .columns{
        width: 30%;
        margin: auto;
      }
      .columns .and {
        float: right;
        width: 100%;
      }
      .columns .and1{
        float: none;
        width: 100%;
        margin: 0% 0 0% 0%;
      }
}
