@media only screen
and (min-width:220px)
and (max-width:568px)
{
  #header{
    width: 100%;
    min-height:100vh;

  }
  .camera{
    display: none;
  }
  #title{
    width: 70%;
    margin: 0 auto;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10vh;
    font-size: 1em;
    line-height: 0.4em;
  }
  #title a{
    font-size: 2em;
    line-height: 1em;
  }

  .photostory{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10vh;
    font-size: 2em;
    line-height: 1em;
  }
  .scroll{
    display: none;
  }
  #about{
    min-height: 100vh;
  }
  #about .col{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    min-height: 26vh;
    height: 26vh;
    font-size: 1em;
  }
  #about h2{
    font-size: 1em;
  }
  #photostory{
    min-height: inherit;
    height: auto;
  }
  #photostory h2{
    font-size: 1em;
  }
  #photostory #id4{
    width: 48%;
    height: 21vh;
  }
  #footer{
    height: auto;
    min-height: inherit;
  }
  footer h2{
    font-size: 1em;
    text-align: center;
    width: 100%
  }
  footer .mainCol{
    display:none;
  }
    footer .number{
      width: 60%;
      margin-left: 10%;
      font-size: 1em;
      text-align: center;
    }
      footer .copyright{
        width: 60%;
        margin-left: -15%;
      }
      footer .columns{
        width: 22%;
        margin: auto;
      }
      .columns .and {
        float: right;
        width: 100%;
      }
      .columns .and1{
        float: none;
        width: 100%;
        margin: 0% 0 0% 0%;
      }
}
